<!-- templates/databases/data_object_list.html -->
<!-- templates/databases/data_object_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Мои файлы</h1>
  <form method="post" action="{% url 'database:process_selected_files' %}">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Выбрать</th>
          <th>Имя файла</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for data_object in data_objects %}
          <tr>
            <td><input type="checkbox" name="selected_files" value="{{ data_object.id }}"></td>
            <td>{{ data_object.name }}</td>
            <td>
              <!-- Дополнительные действия, если необходимо -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Добавляем выбор типа анализа -->
    <h3>Выберите тип анализа:</h3>
    <div>
      <input type="radio" id="analysis_vowels" name="analysis_type" value="vowels" required>
      <label for="analysis_vowels">Анализировать гласные</label>
    </div>
    <div>
      <input type="radio" id="analysis_consonants" name="analysis_type" value="consonants">
      <label for="analysis_consonants">Анализировать согласные</label>
    </div>
    <div>
      <input type="radio" id="analysis_prosody" name="analysis_type" value="prosody">
      <label for="analysis_prosody">Анализировать просодию</label>
    </div>

    <button type="submit">Обработать выбранные файлы</button>
  </form>
{% endblock %}