{% extends 'base.html' %}

{% block title %}{{ database.name }}{% endblock %}

{% block content %}
<h1>{{ database.name }}</h1>
<p>Тип базы данных: {{ database.get_db_type_display }}</p>
<a href="{% url 'database:add_data_object' database.pk %}">Добавить объект</a>

<h2>Объекты в базе данных</h2>
<ul>
    {% for obj in data_objects %}
    <li>{{ obj.sequence_number }} - {{ obj.name }}</li>
    {% empty %}
    <li>В этой базе данных нет объектов.</li>
    {% endfor %}
</ul>

<!-- Отображение сообщений -->
{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<!-- Формы для запуска анализа -->
<form method="post">
    {% csrf_token %}
    <button type="submit" name="analysis_type" value="vowels">Анализировать гласные</button>
    <button type="submit" name="analysis_type" value="consonants">Анализировать согласные</button>
    <button type="submit" name="analysis_type" value="prosody">Анализировать просодию</button>
</form>

<!-- Отображение результатов анализа -->
<h2>Результаты анализа</h2>
<ul>
    {% for result in processing_results %}
    <li>
        {{ result.data_object.name }} - {{ result.get_analysis_type_display }} -
        <a href="{{ result.result_file.url }}">Скачать результат</a>
    </li>
    {% empty %}
    <li>Нет результатов анализа.</li>
    {% endfor %}
</ul>

{% endblock %}