<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'database_list' %}">Базы данных</a></li>
                <li><a href="#">Инструменты</a></li>
                <li><a href="#">Поддержка</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Авторизация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>